 <div class="row mt-4">
            <!--comienza tarjeta-->
            <% for(let i=0;i<publicaciones.length;i++){ %>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card border border-3 border-dark mb-3 tarjetas card<%=publicaciones[i].ID_CAR_UPE%>" style="max-width: 18rem;">
                    <div class="card-header text-center">
                        <img src="uploads/<%= fotos[i]%>" class="rounded" width="60" height="60" height="80" alt="">
                        <a class="fs-4  text-capitalize nametarjet" href="/perfil?id=<%=publicaciones[i].ID_PERSONA%>"><%= nombres[i]%> <%= apellidos[i]%> </a>
                    </div>
                    <div class="card-body">
                        <p class=" text-light fs-5  text-light shadow rounded text-center"> <%= publicaciones[i].TITULO %></p>
                        <div class="text-light fs-5"  ><spam class="text-light  fs-5" id="cuerpo"><%= publicaciones[i].CUERPO %>  </spam> <span>. . .</span>
                        </div>
                        <a href="/publicacion?id=<%= publicaciones[i].ID_PUBLICACION %>" class="btn text-light btn-sm pt-1 shadow rounded  mt-1">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
            <!--fin de tarjeta-->