<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <div class="container">
        <%- include('partials/navbar'); %>
        <div class="row mt-3">
            <div class="col-lg-6 offset-lg-2  offset-md-2 col-md-5 col-xs-10 col-sm-10 mt-2 ">
                <input class="form-control me-2" type="search" placeholder="Buscar publicación por oficio"
                    aria-label="Search">
            </div>
            <div class="col-lg-4 col-md-5 col-xs-2 col-sm-2 mt-2 "><button class="btn btn-outline-success"
                    type="submit">Buscar</button></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Comercio-internacional.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>

            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Gestión-areoportuaria.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Logística.jpg" class="rounded" width="90%" height="80" alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Turismo.jpg" class="rounded" width="90%" height="80" alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Desarrollo-de-software.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Higiene-y-Seguridad.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>
        </div>
            <div class="row mt-4">
                <!--comienza tarjeta-->
                <% for(let i=0;i<publicaciones.length;i++){ %>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="card border border-3 border-dark mb-3 tarjetas card<%=publicaciones[i].ID_CAR_UPE%>" style="max-width: 18rem;">
                        <div class="card-header text-center">
                            <img src="uploads/<%= fotos[i]%>" width="60" height="60" height="80" alt="">
                            <p class="h4 text-light"><%= nombres[i]%> <%= apellidos[i]%> </p>
                        </div>
                        <div class="card-body text-primary">
                            <p class="h3 text-light"><%= publicaciones[i].TITULO %></p>
                            <div class="text-light " id="cuerpo" ><%= publicaciones[i].CUERPO %>
                            </div>
                            <a href="/publicacion?id=<%= publicaciones[i].ID_PUBLICACION %>" class="text-light">Ver publicación Completa</a>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
                <!--fin de tarjeta-->
        
        
           
        </div>

    </div><!-- container -->

    <script src="js/index.js"></script>
</body>

</html>